body {
  background-color: rgb(167, 175, 173);
  
}
h1{
color: rgb(113, 245, 245);
}
img {
  margin: auto;
  width: 350px;
  height: 200px;

}

#img2 {
  margin: auto;
  width: 170px;
  height: 110px;
  border-radius: 10%;
}

h2 {
  color: aqua;
  }

